@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.contenedortitulo img{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
}

.section1{
    padding-left: 25%;
}
.section2{
    padding-right: 25%;
}